* {
  box-sizing: border-box;
}
body {
  width: 1440px;
  font-family: 'NWT Bodoni';
  display: block;
  margin: 0 auto;
  position: relative;
}
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/maket.svg');
  width: 1440px;
  height: 9432px;
  opacity: 0.2;
}
.section-1 {
  display: flex;
  font-weight: 400;
  padding: 0 67px 0 67px;
  margin-left: 1px;
  color: #1f3155;
}
.section-1 img {
  width: 1303px;
  position: absolute;
}
.section-1 h1 {
  font-size: 128px;
  text-align: center;
  margin-top: 363px;
  margin-left: 461px;
}
.section-1 h2 {
  font-size: 32px;
  margin-top: 765px;
  margin-left: -578px;
}
.section-1 h3 {
  font-size: 24px;
  margin-top: 807px;
  margin-left: -580px;
}
.section-2 div p {
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  margin-top: 500px;
  margin-left: 620px;
  color: #1f3155;
}
.tape1 {
  margin-top: -1794px;
  margin-left: 414px;
}
.arch2 {
  margin-top: -784px;
}
.holy {
  margin-top: 6px;
  margin-left: 311px;
}
.books {
  margin-top: 152px;
  margin-left: 401px;
}
.main {
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-top: -587px;
  margin-left: 579px;
  color: #1f3155;
}
.regular {
  font-size: 48px;
  font-weight: 400;
  margin-top: 240px;
  margin-left: 578px;
  line-height: normal;
  color: #f7b81f;
}
.bold {
  font-size: 48px;
  font-weight: 700;
  margin-top: 70px;
  margin-left: 561px;
  line-height: normal;
  color: #1f3155;
}
.italic {
  font-size: 48px;
  font-weight: normal;
  font-style: italic;
  font-weight: 400;
  margin-top: 56px;
  margin-left: 620px;
  color: #f7b81f;
}

.tape2 {
  margin-top: 44px;
  margin-left: 1068px;
}
.tape2title {
  margin-top: -270px;
}
.background-pattern {
  width: 322px;
  height: 277px;
  margin-top: -415px;
  margin-left: -780px;
  background: url(../images/pattern.svg);
}
.background-book {
  width: 1175px;
  height: 734px;
  margin-top: -30px;
  margin-left: 122px;
  background: url(../images/book.svg);
}
.section-4 h1 {
  font-size: 48px;
  font-weight: 700;
  margin-top: -495px;
  margin-left: 330px;
  line-height: normal;
  color: #1f3155;
}
.section-4 p {
  font-size: 32px;
  font-weight: 400;
  color: #1f3155;
  line-height: normal;
}
.section-4 div p {
  margin-top: 58px;
  margin-left: 328px;
}
.section-4 h2 {
  font-size: 36px;
  font-weight: 400;
  margin-top: -520px;
  margin-left: 767px;
  line-height: normal;
  color: #1f3155;
}
.tapetitle2 {
  margin-top: 477px;
}
.cross {
  text-align: right;
  margin-top: -61px;
}
.background-ferst {
  width: 1440px;
  height: 174px;
  margin-top: -785px;
  background: url(../images/fersttitle.svg);
}
.background-midle {
  width: 1256px;
  height: 141px;
  margin-top: 53px;
  background: url(../images/midleline.svg);
}
.background-last {
  width: 1397px;
  height: 141px;
  margin-top: 55px;
  background: url(../images/lastline.svg);
}
.letters .n {
  width: 155px;
  height: 150px;
  margin-top: -550px;
  margin-left: 173px;
  background: url(../images/n.svg);
}
.letters .o {
  width: 141px;
  height: 118px;
  margin-top: 75px;
  margin-left: 833px;
  background: url(../images/o.svg);
}
.letters .r {
  width: 140px;
  height: 118px;
  margin-top: 77px;
  margin-left: 190px;
  background: url(../images/r.svg);
}
.des1 p {
  margin-top: -487px;
  margin-left: 343px;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: #f7b81f;
}
.des1 ul {
  margin-top: -50px;
  margin-left: 478px;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: #f7b81f;
}
.des2 p {
  margin-top: 164px;
  margin-left: 995px;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: #f7b81f;
}
.des2 ul {
  margin-top: -45px;
  margin-left: 476px;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: #f7b81f;
}
.des3 p {
  margin-top: 146px;
  margin-left: 350px;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: #f7b81f;
}
.des3 ul {
  margin-top: -48px;
  margin-left: 478px;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: #f7b81f;
}
.text1 p {
  margin-top: 219px;
  margin-left: 111px;
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  color: #1f3155;
}
.text2 p {
  margin-top: 24px;
  margin-left: 111px;
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  color: #1f3155;
}
.background-list1 {
  width: 373px;
  height: 559px;
  transform: rotate(3.263deg);
  background: url(../images/list1.svg);
}
.background-list2 {
  width: 264px;
  height: 382px;
  transform: rotate(11.652deg);
  background: url(../images/list2.svg);
}
.background-list3 {
  width: 301px;
  height: 451px;
  transform: rotate(-6.386deg);
  background: url(../images/list3.svg);
}
.background-list4 {
  width: 451px;
  height: 653px;
  background: url(../images/list4.svg);
}
